* {
    padding: 0;
    margin: 0;
}


body {
    font-family: Georgia;
    background-color: #f3f3f3;
}


.Top {
    position: relatvie;
    margin-left: 200px;
    padding: 5px 7px 0 7px;
    display: flex;
    justify-content: space-between;
}


.Top a {
    color: black;
    text-decoration: none;
    font-weight: 550;
    font-size: 18px;
}


.navbar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d2cfc1;
    align-content: center;
    /*    Trying to get background image*/
    /*
    align-content: center;
    background-position: center;
    background-size: contain;
    background-blend-mode: multiply;
    background-image: url("../images/bamboo-euclidean-vector-cartoon-illustration-png-favpng-3Kf98mn0kM1sGfRwwh92kXVK6.png");
    background-repeat: repeat;
*/
}

.navbar ul {
    list-style-type: none;
    text-decoration: none;
    width: 100%;
    align-content: center;
    padding-top: 200px;
    display: block;
    line-height: 185%
}


.navbar a {
    color: black;
    text-decoration: none;
    font-weight: 550;
    font-size: 18px;
}


header {
    text-align: center;
    position: relative;
    padding-top: 40px;
    margin-left: 200px;
    align-items: center;
}


h1 {
    font-size: 40px;
    letter-spacing: 1.3px;
}


.pandalogo {
    margin-top: 55px;
    margin-left: 200px;
    position: relative;
    text-align: center;
}


main {
    margin-top: 500px;
    display: flex;
    position: relative;
    left: 200px;
}


main .paper {
    font-size: 36px;
    width: 500px;
    background-color: white;
    padding: 60px 80px 100px 90px;
    border-radius: 5px;
    box-shadow:
        100px 80px 120px 30px rgba(30, 20, 0, 0.05),
        -90px -70px 220px -80px rgba(255, 255, 255, 1);
}
